@include export-once("utilities/radius") {
  @if $include-radius-classes {


.radius-right {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


.radius-left {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}


}} // End Export
