---
title: Notificaciones
---

<div class="selk-message is-spaced on-top-left">Mensaje</div>
<div class="selk-message is-spaced on-top-center">Mensaje</div>
<div class="selk-message is-spaced on-top-right">Mensaje</div>

<div class="selk-message is-spaced on-middle-left">Mensaje</div>
<div class="selk-message is-spaced on-middle-center">Mensaje</div>
<div class="selk-message is-spaced on-middle-right">Mensaje</div>

<div class="selk-message is-spaced on-bottom-left">Mensaje</div>
<div class="selk-message is-spaced on-bottom-center">Mensaje</div>
<div class="selk-message is-spaced on-bottom-right">Mensaje</div>
