---
title: Notificaciones
---

<div class="selk-message is-spaced on-top-center is-small">Mensaje</div>
<div class="selk-message is-spaced on-middle-center is-medium">Mensaje</div>
<div class="selk-message is-spaced on-bottom-center is-large">Mensaje</div>
