<nav class="demo-navigation">

	<span class="demo-label">Type</span>
	<a href="/bubble" class="demo-link">Bubble</a>
	<a href="/modal"  class="demo-link">Modal</a>
	<a href="/panel"  class="demo-link">Panel</a>
	<a href="/stripe" class="demo-link">Stripe</a>
	<a href="/drawer" class="demo-link">Drawer</a>

	<span class="demo-label">Options</span>
	<a href="/positions" class="demo-link">Positions</a>
	<a href="/sizes" class="demo-link">Sizes</a>
	<a href="/content" class="demo-link">Content</a>

</nav>
