<nav class="demo-navigation">

	<span class="demo-label">Type</span>
	<a href="/type/bubble" class="demo-link">Bubble</a>
	<a href="/type/modal"  class="demo-link">Modal</a>
	<a href="/type/panel"  class="demo-link">Panel</a>
	<a href="/type/stripe" class="demo-link">Stripe</a>
	<a href="/type/drawer" class="demo-link">Drawer</a>

	<span class="demo-label">Options</span>
	<a href="/options/positions" class="demo-link">Positions</a>
	<a href="/options/sizes" class="demo-link">Sizes</a>

</nav>
