/* LINKS */
/* ========================================================================== */

@include export-once("components/links") {

	@if $include-links-styles {
		a {
			& {
				color: $color-accent;
			}
			&:hover {
				color: darken($color-accent,8%);
			}
		}
	}

	@if $include-links-classes {
		.link-dark {
			& {
				color: $color-dark-secondary;
			}
			&:hover {
				color: $color-dark-primary;
			}
		}
	}

}
