---
title: Notificaciones
---



<section class="section">

	<div class="selk-message selk-stripe is-stick on-top">Mensaje</div>
	<div class="selk-message selk-stripe is-stick on-bottom">Mensaje</div>

</section>
