$oposite-directions: (
  top:    bottom,
  right:  left,
  bottom: top,
  left:   right,
  up:     down,
  down:   up,
  start:  end,
  end:    start,
);

@function oposite($direction) {
  @return map-get($oposite-directions, $direction);
}
