/* BREAKPOINTS */
/* ========================================================================== */

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
//
// xs -> Portrait phones (Extra small devices)
// sm -> Landscape phones or phablets (Small devices)
// md -> Tablets (Medium devices)
// lg -> Tablet portrait, Desktops (Large devices)
// xl -> Normal Desktop
//
//  # SCSS usage:
//  @media screen #{to(phone)} { /* CSS here */ }
//
//  # Or mixin usage:
//  @include respond(to phone)   { /* CSS here ... */ };
//  @include respond(from phone) { /* CSS here ... */ };
//
//  @include respond(to 320px)   { /* CSS here ... */ };
//  @include respond(from 320px) { /* CSS here ... */ };
//
//  @include respond(from 320px, 2x)                  { /* CSS here ... */ };
//  @include respond(from 320px, portrait)            { /* CSS here ... */ };
//  @include respond(from 320px, to 500px, landscape) { /* CSS here ... */ };
//
//  @include respond(from 320px, to 500px)   { /* CSS here ... */ };
//  @include respond(from 320px, to(medium)) { /* CSS here ... */ };

// Breakpoints

$size-xsmall:          480px !default; // to phone
$size-small:           768px !default; // from phone to tablet
$size-medium:          992px !default; // from tablet to desktop
$size-large:          1200px !default; // from desktop to larger
$size-xlarge:         1400px !default; // from larger

$breakpoints: (
  xs:   $size-xsmall,
  sm:   $size-small,
  md:   $size-medium,
  lg:   $size-large,
  xl:   $size-xlarge,
) !default;
